/* Stian Dalviken
 *  
 *  All styles made by me
 */

/** Misc layout styles **/
#content{
    width: 1000px;
    margin: 50px auto;
}
div#calendar{
    margin-left: 0px;
    float: left;
}
div#calAdministration{
    float: right;
    width: 430px;
}
div#calAdministration > div, h2#calAdministrationTitle, div#administrationMessages {
    margin-bottom: 24px;
    background-color: #203046;
    color: white;
    padding: 15px;
    border-radius: 15px;
}
h2#calAdministrationTitle{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}
/** Fix for floats **/
.clearfix{
    clear: both;
}
.adminTitles{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
}
div#administrationMessages{
    background-color: transparent !important;
    border: 10px solid #203046;
    color: black;
}
div#administrationMessages p{
    margin-left: 40px;
    margin-right: 40px;
}

/** For the colours and style of the calendar **/
div#calendar ul.dates li{
    border-radius: 15px;
}
div#calendar ul.dates li.currentDay{
    background-color: limegreen;
    font-weight: bold;
}
div#calendar ul.dates li.dateHasEntry{
    background-color: bisque;
}
div#calendar ul.dates li.selectedDay{
    background-color: yellow;
}
div#calendar ul.dates li:hover{
    background-color: darkgray;;
}

div#calendar {
    width: 464px;
}
div#calendar div.box {
    border-color: #203046;
    background-color: #203046;
    border-radius: 15px 15px 0 0;
}
div#calendar div.box-content {
    border: 2px solid #203046;
    border-radius: 0 0 15px 15px;
}
div#calendar div.header {
    width: 440px;
}
div#calendar ul.label li {
    width: 60px;
}
div#calendar ul.dates li {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

/** Styling of the table for the calendar entries **/
.calEntriesTable {
    margin:50px auto;
    padding:0px;
    width:90%;
    border:2px solid #203046;

    -moz-border-radius-bottomleft:16px;
    -webkit-border-bottom-left-radius:16px;
    border-bottom-left-radius:16px;

    -moz-border-radius-bottomright:16px;
    -webkit-border-bottom-right-radius:16px;
    border-bottom-right-radius:16px;

    -moz-border-radius-topright:20px;
    -webkit-border-top-right-radius:20px;
    border-top-right-radius:20px;

    -moz-border-radius-topleft:20px;
    -webkit-border-top-left-radius:20px;
    border-top-left-radius:20px;
}.calEntriesTable table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    white-space: normal;
}.calEntriesTable tr:last-child td:last-child {
    -moz-border-radius-bottomright:15px;
    -webkit-border-bottom-right-radius:15px;
    border-bottom-right-radius:15px;
}
.calEntriesTable table tr:first-child td:first-child {
    -moz-border-radius-topleft:15px;
    -webkit-border-top-left-radius:15px;
    border-top-left-radius:15px;
}
.calEntriesTable table tr:first-child td:last-child {
    -moz-border-radius-topright:15px;
    -webkit-border-top-right-radius:15px;
    border-top-right-radius:15px;
}.calEntriesTable tr:last-child td:first-child{
    -moz-border-radius-bottomleft:15px;
    -webkit-border-bottom-left-radius:15px;
    border-bottom-left-radius:15px;
}.calEntriesTable tr:hover td{

}
.calEntriesTable tr:nth-child(odd){ background-color:#DDD; }
.calEntriesTable tr:nth-child(even)    { background-color:#ffffff; }.calEntriesTable td{
    vertical-align:middle;
    border:1px solid #203046;
    /*border:1px solid #000000;*/
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:11px;
    font-size:12px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.calEntriesTable tr:last-child td{
    border-width:0px 1px 0px 0px;
}.calEntriesTable tr td:last-child{
    border-width:0px 0px 1px 0px;
}.calEntriesTable tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.calEntriesTable tr:first-child td{
    background-color:#203046;
    border:1px solid white;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.calEntriesTable tr:first-child:hover td{
    background-color:#203046;
}
.calEntriesTable tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.calEntriesTable tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
.calEntriesTable .deleteButton{
    width: 50px;
}
.calEntriesTable .tableDescription{
    width: 400px;
}


/* Styles for main.php */
#insertRoomForm{
    margin: 0 auto;
}
#deleteRoomForm{
    margin: 0 auto;
}
#deleteRoom {
    padding-bottom: 40px !important;
}
#roomInfoButtonDelete {
    margin-left: 40px;
}
#deleteRoomForm #submitButton {
    float: right;
    margin-right: 5px;
}
#insertForm{
    margin: 0 auto;
}
#insertForm #formDate {
    margin-left: 43px;
    background-color: lightgrey;
    text-align: center;
    margin-right: 0px;
}
#insertForm #insertStartTime {
    display: inline-block;
}
#insertForm #insertEndTime {
    display: inline-block;
    float: right;
}
#insertDescription {
    margin-right: 0px;
    width: 305px;
}
#insertForm #submitButton {
    float: right;
    margin-right: 5px;
}
#starttimehour {
    margin-left: 14px;
}
#insertRoom {
    padding-bottom: 40px !important;
}
#insertRoomName {
    margin-left: 10px;
    margin-right: 50px;
    width: 65px;
}
#insertRoomSpaces {
    margin-left: 10px;
    width: 40px;
}
#insertRoomFeaturesText {
    float: left;
}
#insertRoomFeatures {
    margin-left: 34px;
    width: 115px;
}
#insertRoomType > select {
    margin-left: 16px;
}
#insertRoom #submitButtonInsert {
    float: right;
    margin-right: 5px;
}
#insertDefaultRoomForm > input {
    float: left;
}
#selectRoomID, #selectRoomIDDelete {
    margin-left: 36px;
}
#endtimemin {
    margin-right: 2px;
}
#recurrancyOptions{
    display: inline-block;
    visibility: hidden;
}
#recurrancyOptions > input{
    width: 30px;
}

.success {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
